<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div class="main2">
      <h1>Weather Information for <%= city1 %></h1>
      
      <img src="http://openweathermap.org/img/wn/<%= icon %>@2x.png" alt="weather condition pic">
      <h4>Description: <%= description %></h4>
      <h4>Temperature: <%= temp %>°</h4>
      <h4>Feels like: <%= feels %>°</h4>
      <h4>Humidity: <%= humid %></h4>
      <h4>Wind: <%= speed %>mph</h4>
    </div>
  
   
</body>
</html>